In [1]:
from trader_class import PairsTrader
from backtesting import Backtest
import requests
import pandas as pd
import numpy as np
import seaborn
import matplotlib.pyplot as plt

In [2]:
data = np.array([[1,2,3,4],
                 [10.0,11.0,12.0,13.0],
                 [10.0,11.0,12.0,13.0]])
df = pd.DataFrame(data.transpose(), columns = ['time', 'price1', 'price2'])

In [3]:
df

   time  price1  price2
0   1.0    10.0    10.0
1   2.0    11.0    11.0
2   3.0    12.0    12.0
3   4.0    13.0    13.0

In [21]:
class trader:
    def makeTrades(prices):
        return {'price1': -1,'price2': -1}  #buy, buy

In [22]:
backtester = Backtest(trader,df)
backtest_results = backtester.run_game()
backtest_results

([19.96, 21.956, 23.951999999999998, 25.948],
 91.816,
    time  price1  price2
 0     0      -1      -1
 1     1      -1      -1
 2     2      -1      -1
 3     3      -1      -1)

In [25]:
fees = (df['price1']+df['price2']-backtest_results[0])/(df['price1']+df['price2'])*100

In [26]:
fees

0    0.2
1    0.2
2    0.2
3    0.2
dtype: float64